<mat-toolbar color="primary">
    <button mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>
    <span>Book Store</span>
    <span class="example-spacer"></span>
    <button mat-icon-button (click)="router.navigate(['/'])">
        <mat-icon>home</mat-icon>
    </button>
    <button mat-button (click)="router.navigate(['books'])">All Books</button>
    <span class="example-spacer"></span>
    <button mat-button (click)="router.navigate(['auth/login'])">Login</button>
    <button mat-button (click)="router.navigate(['auth/signup'])">SignUp</button>
</mat-toolbar>