<h1>table Dynamic</h1>

<div class="table_main">
  <table datatable [dtOptions]="dtOptions">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.phone }}</td>
      <td>
        <button type="button" class="btn btn-primary" (click)="navigateToDetail(user)">
          View Details
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

