<div class="container registration_main_container">
    <div class="row">
        <div class="col">
            <div class="d-flex flex-row justify-content-center registration_header"><i class="fab fa-angular HeaderIcon"></i>
                <h1 class="header_Heading">&nbsp;Login</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex flex-column justify-content-center align-items-center">
            <div class="row" *ngIf="authError">
                <div class="col alert alert-danger">
                    {{ authError?.message }}
                </div>
            </div>
            <div class="d-flex flex-column align-items-center login_form_screen_div">
                <form #userLoginForm="ngForm" (ngSubmit)="LoginUser(userLoginForm)" class="login_form">
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group"><label>Email</label><input ngModel #email="ngModel" name="email" type="email" class="form-control"></div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group"><label>Password</label><input ngModel #password="ngModel" name="password" type="password" class="form-control"></div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group"><button class="btn btn-danger form-control registeration_form_submit" type="submit">Login</button></div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="d-flex flex-row justify-content-center">
                                <p>do not have a account?&nbsp; &nbsp;</p><a class="text-danger" (click) = "NavigateToRegister()">Register</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>