<h1>Add Books</h1>
{{myForm.valid}}
<form #myForm="ngForm" (ngSubmit)="onSubmitForm()" class="add-book-form">
    <mat-form-field appearance="legacy">
        <mat-label>Title</mat-label>
        <input matInput placeholder="title" name="title" id="" [(ngModel)]="model.title" required>
      </mat-form-field><br><br>
      <mat-form-field appearance="legacy">
        <mat-label>Auther</mat-label>
        <input matInput placeholder="Placeholder" name="auther" id="" [(ngModel)]="model.auther" required>
      </mat-form-field><br><br>
      <mat-form-field appearance="legacy">
        <mat-label>Pages</mat-label>
        <input matInput placeholder="Placeholder" name="pages" id="" [(ngModel)]="model.totalPages" required>
      </mat-form-field><br><br>
      <mat-form-field appearance="legacy">
        <mat-label>Price</mat-label>
        <input matInput placeholder="Placeholder" name="price" id="" [(ngModel)]="model.price.value" required>
      </mat-form-field><br><br>
    <button type="submit" mat-raised-button color="primary" [disabled]="myForm.invalid">Submit</button>
</form>

{{myForm.value | json}}
