<!--
<div class="p-2 border-1 surface-border border-round w-15rem">
  <ul class="list-none flex flex-column gap-2 p-0 m-0">
      <li *ngFor="let product of availableProducts" class="p-2 border-round shadow-1" pDraggable (onDragStart)="dragStart(product)" (onDragEnd)="dragEnd()">
          {{product.name}}
      </li>
  </ul>
</div>
<div class="p-2 border-1 surface-border border-round w-15rem" pDroppable (onDrop)="drop()">
  <p class="text-center surface-border border-bottom-1">Drop Zone</p>
  <ul class="list-none flex flex-column gap-2 p-0 m-0" *ngIf="selectedProducts" >
      <li *ngFor="let product of selectedProducts" class="p-2 border-round shadow-1">
          {{product.name}}
      </li>
  </ul>
</div> -->

<div *ngFor="let color of colors" class="border"  pDraggable="color"
                (onDragStart)="dragStart($event,color)" (onDragEnd)="dragEnd($event)">
	{{color}}
</div>


<div class="drop" pDroppable="color"  (onDrop)="drop($event)">
  <div *ngFor="let c of droped">{{c}}</div>
</div>
