<form [formGroup]="form" (ngSubmit)="submit()">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>

<!--  <mat-form-field>-->
<!--    <mat-label>Chips</mat-label>-->
<!--    <mat-chip-list #chipList formControlName="chips">-->
<!--      <mat-chip *ngFor="let chip of form.get('chips')!.value"-->
<!--                [selectable]="true"-->
<!--                [removable]="true"-->
<!--                (removed)="removeChip(chip)">-->
<!--        {{ chip }}-->
<!--        <mat-icon matChipRemove>cancel</mat-icon>-->
<!--      </mat-chip>-->
<!--      <input [matChipInputFor]="chipList"-->
<!--             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"-->
<!--             [matChipInputAddOnBlur]="true"-->
<!--             (matChipInputTokenEnd)="addChip($event)">-->
<!--    </mat-chip-list>-->
<!--  </mat-form-field>-->


<!--  <mat-form-field class="example-chip-list" appearance="fill">-->
<!--    <mat-label>Favorite Fruits</mat-label>-->
<!--    <mat-chip-grid #chipGrid aria-label="Fruit selection">-->
<!--      <mat-chip-row *ngFor="let fruit of fruits" (removed)="remove(fruit)">-->
<!--        {{fruit}}-->
<!--        <button matChipRemove [attr.aria-label]="'remove ' + fruit">-->
<!--          <mat-icon>cancel</mat-icon>-->
<!--        </button>-->
<!--      </mat-chip-row>-->
<!--    </mat-chip-grid>-->
<!--    <input placeholder="New Fruit..." #fruitInput [formControl]="fruitCtrl"-->
<!--           [matChipInputFor]="chipGrid" [matAutocomplete]="auto"-->
<!--           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"-->
<!--           (matChipInputTokenEnd)="add($event)"/>-->
<!--    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">-->
<!--      <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">-->
<!--        {{fruit}}-->
<!--      </mat-option>-->
<!--    </mat-autocomplete>-->
<!--  </mat-form-field>-->


  <div formGroupName="otherForm">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Phone</mat-label>
      <input matInput formControlName="phone">
    </mat-form-field>
  </div>

  <button type="submit">Submit</button>
</form>
