
<div class="example-container" *ngFor="let column of columns">
  <h2>{{column.name}}</h2>

  <div
    cdkDropList
    [id]="column.name.toLowerCase() + 'List'"
    [cdkDropListData]="column.items"
    [cdkDropListConnectedTo]="getConnectedLists(column.name)"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of column.items" [cdkDragData]="item" cdkDrag>
      <app-kanban-card [cardItem]="item"></app-kanban-card>
    </div>
  </div>
</div>
