<div class="card">
  <div class="card-header">
    <!-- <img src="../../favicon.ico"/> -->
    <p>{{ids}}</p>
    <span class="current-state"></span>
  </div>
  <div class="card-body">
      <div class="content">
        <h4 class="card-text">People</h4>
        <p class="card-text">sdsdf</p>
      </div>
      <div class="content">
        <h4 class="card-text">Type</h4>
        <p class="card-text">sdfdsf</p>
      </div>
      <div class="content">
        <h4 class="card-text">Task</h4>
        <p class="card-text">sdfsdf</p>
      </div>
  </div>
  <div class="card-footer text-muted f-2">
    sdfsdf
  </div>
</div>
